body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eaeaed;
  color: #333;
  line-height: 1.8;
}

.editor-container {
  display: flex;
  flex-direction: column;
  resize: vertical;
  height: 95vh;
  padding: 18px;
  background: #282829e3;
  transform: translateY(-4px);
}

.error-message {
  background-color: rgba(239, 68, 68, 0.1);
  color: #b91c1c;
  padding: 12px 20px;
  border: 1px solid rgba(239, 68, 68, 0.5);
  border-radius: 10px; 
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.95rem;
  font-weight: 500;
  animation: fadeIn 0.5s ease;
}

.users-panel {
  background: #dbdadab0; 
  border-radius: 12px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 15px; 
  margin-bottom: 20px;
  transition: transform 0.3s ease; 
}

.users-panel:hover {
  transform: translateY(-4px); 
}

.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; 
}

.users-header h2 {
  font-size: 1.2rem; 
  color: #050b18;
}

.users-count {
  font-size: 1rem; 
  color: #0f0f10;
}

.users-list {
  display: flex; 
  flex-wrap: nowrap; 
  padding-left: 0; 
  margin: 0; 
  overflow-x: auto; 
}

.user-item {
  display: flex; 
  align-items: center; 
  font-size: 1rem;
  color: #121213;
  padding: 10px 15px; 
  border-bottom: 0.5px solid #e5e7eb; 
  white-space: nowrap; 
}

.user-item:not(:last-child) {
  margin-right: 10px; 
}

.user-item:last-child {
  border-bottom: none; 
}

.user-status {
  width: 12px; 
  height: 12px;
  background-color: #10b981; 
  border-radius: 50%;
  margin-right: 10px;
}

.no-users {
  text-align: center;
  font-size: 1rem; 
  color: #9ca3af;
}

.editor-wrapper {
 flex-grow: 1; 
 display:flex; 
 flex-direction:column; 
 position: relative; 
}

.editor-textarea {
 width: 97.9%;
 height: calc(100% - 40px); 
 resize: vertical; 
 border-radius:20px; 
 padding:15px; 
 font-size:1rem; 
 line-height:2.0; 
 font-family:'Roboto Mono', monospace; 
 background-color:#ffffff; 
 box-shadow:inline -2px -2px rgba(255,255,255,0.5), inset -4px -4px rgba(255,255,255,0.3); 
 transition:border-color .3s ease-in-out, box-shadow .3s ease-in-out; 
}

.editor-textarea::placeholder {
 color:#a1a1aa; 
}

.editor-textarea:hover,
.editor-textarea.focus {
 border-color:#161617; 
 box-shadow:inline -2px -2px rgba(37, 37, 38, 0.2), inset -4px -4px rgba(37,99,235,.1); 
}

.status-panel {
 background-color:#dbdadab0; 
 padding:20px; 
 border-radius:12px; 
 box-shadow:.5rem .5rem  .75rem rgba(0,0,0,.1); 
 margin-top:auto; 
}

.locked-lines,
.typing-status,
.active-users {
 font-size:.95rem; 
 margin-bottom:.5rem; 
}

.locked-lines {
 color:#150808; 
}

.typing-status {
 color:#3b82f6; 
}

.active-users {
 color:#111212; 
 font-weight:bold; 
}

@keyframes fadeIn {
 from { opacity: 0; }
 to { opacity: 1; }
}